{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2 mt-3">
                <h2 class="text-center">Shopping Bag</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
         <div class="col">
             {% if bag_items %}
             {% else %}
                <p>Your bag is empty.
                    <br>
                    <br>
                    <a href="{% url 'products' %}" class="btn btn-lg ">
                        <i class="fas fa-chevron-left"></i>
                        Continue Shopping
                    </a>
                </p>
             {% endif %}
         </div>
        </div>
    </div>
{% endblock %}