{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Image -->
<div class="hero-img">
    <div class="row">
        <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 mx-5 mx-md-auto hero-box">
            <h1 class="display-2 text-white text-center">DRYDROPS.COM</h1>
            <h2 class="display-4 text-white text-center">All of the pleasure. None of the guilt.</h2>
            <p class="text-white text-center">Sign up today and get free delivery on your first order!</p>
            <div>
                <h4 class="text-center pt-2">
                    <a href="{% url 'products' %}" class="btn btn-lg link-btn text-uppercase black-border rounded-pill">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container mb-4">
    <!-- Categories -->
    <div class="row">
        <div class="col mt-3">
            <h2 class="text-center display-4">Choose from one of our four Categories</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card category-card border-0 mt-4  mx-auto">
                <a href="{% url 'products' %}?category=beers">
                    <img class="card-img-top category-card-img" src="{{ MEDIA_URL }}beer.jpg" alt="A hand clasping pint of beer">
                    <div class="card-body category-card-body p-2">
                        <h5 class="card-title text-white text-center m-0">Beers</h5>             
                    </div>
                </a>
            </div>
            <div class="card category-card border-0 mt-4  mx-auto">
                <a href="{% url 'products' %}?category=wines">
                    <img class="card-img-top category-card-img" src="{{ MEDIA_URL }}wine.jpg" alt="A table filled with wine glasses and bottles">
                    <div class="card-body category-card-body p-2">
                        <h5 class="card-title text-white text-center m-0">Wines</h5>                  
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card category-card border-0 mt-4  mx-auto">
                <a href="{% url 'products' %}?category=ciders">
                    <img class="card-img-top category-card-img" src="{{ MEDIA_URL }}cider.jpg" alt="A glass of apple cider surounded by apples">
                    <div class="card-body category-card-body p-2">
                        <h5 class="card-title text-white text-center m-0">Ciders</h5>                  
                    </div>
                </a>
            </div>
            <div class="card category-card border-0 mt-4  mx-auto">
                <a href="{% url 'products' %}?category=spirits">
                    <img class="card-img-top category-card-img" src="{{ MEDIA_URL }}spirits.jpg" alt="A glass of whisky being poured into an ice filled glass">
                    <div class="card-body category-card-body p-2">
                        <h5 class="card-title text-white text-center m-0">Spirits</h5>                  
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Top Products -->
    <div class="row">
        <div class="col mt-5">
            <h2 class="text-center display-4">Why not try one of our top rated alcohol free products?</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        {% for product in top_products|slice:":4" %}
        <div class="col-md-6 col-lg-3 mt-4 top-products">
            {% include 'products/includes/product-card.html' %}
        </div>
        {% endfor %}
    </div>
</div>

{% include 'products/includes/scroll-up-arrow-box.html' %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/scroll-arrow-script.html' %}
{% endblock %}