{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="hero-img">
    <div class="row ">
        <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 mx-5 mx-md-auto  hero-box my-auto">
            <h1 class="display-4 text-white text-center">All of the pleasure. None of the guilt.</h1>
            <div>
                <h4 class="text-center pt-2">
                    <a href="{% url 'products' %}" class="btn btn-lg link-btn text-uppercase black-border rounded-pill">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h2 class="text-center">Categories</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card category-card border-0 mt-4  mx-auto">
                <a href="{% url 'products' %}?category=beers">
                    <img class="card-img-top category-card-img" src="/media/beer.jpg" alt="A hand clasping pint of beer">
                    <div class="card-body category-card-body p-2">
                        <h5 class="card-title text-white text-center m-0">Beers</h5>             
                    </div>
                </a>
            </div>
            <div class="card category-card border-0 mt-4  mx-auto">
                <a href="{% url 'products' %}?category=wines">
                    <img class="card-img-top category-card-img" src="/media/wine.jpg" alt="A table filled with wine glasses and bottles">
                    <div class="card-body category-card-body p-2">
                        <h5 class="card-title text-white text-center m-0">Wines</h5>                  
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card category-card border-0 mt-4  mx-auto">
                <a href="{% url 'products' %}?category=ciders">
                    <img class="card-img-top category-card-img" src="/media/cider.jpg" alt="A glass of apple cider surounded by apples">
                    <div class="card-body category-card-body p-2">
                        <h5 class="card-title text-white text-center m-0">Ciders</h5>                  
                    </div>
                </a>
            </div>
            <div class="card category-card border-0 mt-4  mx-auto">
                <a href="{% url 'products' %}?category=spirits">
                    <img class="card-img-top category-card-img" src="/media/spirits.jpg" alt="A glass of whisky being poured into an ice filled glass">
                    <div class="card-body category-card-body p-2">
                        <h5 class="card-title text-white text-center m-0">Spirits</h5>                  
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}