{% if user.is_superuser and product.featured %}
<div class="ribbon ribbon-top-left"><span>Featured</span></div>
{% endif %}
<a href="{% url 'product_detail' product.id %}">
    {% if product.image %}
        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
    {% else %}
        <img class="card-img-top" src="/media/noimage.png" alt="{{ product.name }}">
    {% endif %}
    <div class="card-body bg-light">
        <p><strong>{{ product.name }}</strong></p>
        <p class="card-text"><strong>£{{ product.price }}</strong></p>
        <p class="card-text"> <a href="{% url 'products' %}?category={{ product.category.name }}"><i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}</a></p>
        {% if product.rating >= 4.5 %}
            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i>
            {% elif product.rating >= 4 %}
            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star-half"></i>
            {% elif product.rating >= 3.5 %}
            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                class="fa fa-solid fa-star"></i>
            {% elif product.rating >= 3 %}
            <i class="fa fa-solid fa-star"></i></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                class="fa fa-solid fa-star-half"></i>
            {% elif product.rating >= 2.5 %}
            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i>
            {% elif product.rating >= 2 %}
            </i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                class="fa fa-solid fa-star-half"></i>
            {% elif product.rating >= 1.5 %}
            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i>
            {% elif product.rating >= 1 %}
            <i class="fa fa-solid fa-star"></i>
            {% else %}
            <p>No Rating</p>
        {% endif %}
        {% if user.is_superuser %}
        <div class="float-right">
            <form class="d-inline" action="{% url 'feature_product' product.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                <button type="submit" value="{{ product.id }}" class="text-white bg-info btn-sm small border rounded-pill">{% if product.featured %}Unfeature{% else %}Feature{% endif %}</button>
            </form>
            <a href="{% url 'edit_product' product.id %}" class="text-white bg-success btn-sm small border rounded-pill">Edit</a>
            <a href="{% url 'delete_product' product.id %}" class="text-white bg-danger btn-sm small border rounded-pill">Delete</a>
        </div>
        {% endif %}
    </div>
</a>

