<script type="text/javascript">
    // Scrolls to top of page when arrow clicked
    $('#arrow').click(function(){
        console.log('clicked')
        window.scrollTo(0, 0)
    })

    // Hides arrow when already at top of screen
    window.addEventListener("scroll",function() { 
        if(window.scrollY > 500) {
            $('#arrow').css({'visibility': 'visible', 'opacity':'1'});
        } else if(window.scrollY < 500) {
            $('#arrow').css({'opacity':'0'});
        }
        
        });
</script>