#profile-update-form .form-control {
    color: black;
    border: 1px solid #748386;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: black;
}

#id_default_country option:first-child {
    color: #aab7c4;
}