/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Imbue:wght@400;500&family=Libre+Baskerville&family=Raleway:wght@100&family=Roboto+Serif&family=Source+Sans+3:wght@300&display=swap');
html {
    height: 100%;
}

body {
    background: url('/media/bottles.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    font-family: 'Source Sans 3';
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #706563;
}

.logo {
    font-family: 'imbue';
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0;
}

.black-border {
    border: 1px solid black;
}

.hero-btn:hover {
    background-color: #748386;
}

.hero-box {
    background-color: #3b0d11;
    opacity: 80%;
    border: 1px solid black;
    border-radius: 25px;
    padding: 25px;
}

.nav-link {
    padding: 0.5rem 1rem;
}

.link-btn {
    
    background-color: #706563;
    color: white;
}

.link-btn:hover {
    background-color: #748386;
    color: white;
}

#main-nav {
    font-size: 1.5rem;
    font-family: 'Roboto Serif';
}

.delivery-banner {
    background-color: #3b0d11;
    opacity: 80%;
}

.color-burgundy {
    color: #3b0d11;
}

.social-icon {
    color: #3b0d11;
    font-size: 2rem;
    padding-right: 1rem;
}

.header-container {
    padding-top: 200px;
}
