/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Imbue:wght@400;500&family=Libre+Baskerville&family=Raleway:wght@100&family=Roboto+Serif&family=Source+Sans+3:wght@300&display=swap');

/******* Defaults *******/
html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto Serif';
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: 'imbue';
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #706563;
}

.logo {
    font-family: 'imbue';
}

.cursor:hover {
    cursor: pointer;
}

/******* Colors and Borders *******/
.color-burgundy {
    color: #3b0d11;
}

.black-border {
    border: 1px solid black;
}

.link-btn {
    background-color: #706563;
    color: white;
}

.link-btn:hover, .btn-bag:hover {
    background-color: #748386;
    color: white;
}

.hover-link:hover {
    color:#706563;
}

/******* Padding and Margins *******/
.nav-link {
    padding: 0.5rem 1rem;
}

.header-container {
    padding-top: 175px;
}

/******* Navbar *******/
#main-nav {
    font-size: 1.5rem;
    font-family: 'Roboto Serif';
}

.delivery-banner {
    background-color: #3b0d11;
    opacity: 80%;
}

.mobile-nav-ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
}

    /* bag icon */
    .bag {
        font-size: 12px;
        padding: 0 5px;
        vertical-align: top;
        margin-left: -10px;
    }
    .badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
    position: relative;
    top: 0;
    right: 0;
    }

/******* Footer *******/
footer {
    background-color: whitesmoke;
}

.social-icon {
    color: #3b0d11;
    font-size: 1.75rem;
    padding-right: .5rem;
}

/******* Index Page  *******/
.hero-img {
    background: url('/media/bottles.jpg') ;
    background-size: cover;
    height: 90vh;
    font-family: 'Roboto Serif';
}

.hero-box {
    position: relative;
    top: 20vh;
    background-color: #3b0d11;
    opacity: 80%;
    border: 1px solid black;
    border-radius: 25px;
    padding: 25px;
}

.category-card-img {
    border-top: 5px solid #6a3937;
    border-left: 5px solid #6a3937;
    border-right: 5px solid #6a3937;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.category-card-body {
    background-color: #748386;
    border-bottom: 5px solid #6a3937;
    border-left: 5px solid #6a3937;
    border-right: 5px solid #6a3937;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.category-card:hover {
    opacity: 90%;
}

/******* Products and Product Details *******/
.card-liked {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: larger;
}

.all-products .product-card:hover, .top-products .product-card:hover {
    box-shadow: -10px 10px 25px whitesmoke;
}

.product-card {
    height: 100%;
}

.card-body p {
    margin-bottom: 0px;
}

.btn-like {
    color: #ff0000;
    border: none;
    background: transparent;
}

.minus-qty:disabled, .plus-qty:disabled {
    background-color: whitesmoke;
    color: white;
    border-color: transparent;
}

.review-delete-btn {
    font-size: 12.8px;
    position: relative;
    bottom: 1px;
}

/* Taken from Codepen (https://codepen.io/nxworld/pen/oLdoWb) to generate ribbon on featured products */
  /* common */
  .ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #706563;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #748386;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  
  /* top left*/
  .ribbon-top-left {
    top: -10px;
    left: -10px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }

/******* Review stars *******/
.radio-tag {
    opacity: 0;
}

.product-rating .fa-solid {
    color: gold;
}

.review-stars .fa-star {
    color: gold;
    text-shadow: -1px 1px #000;
}

label {
    cursor: pointer;
}

.star:hover {
    color: gold;
}

/******* Category Side Nav *******/
.category-col {
    border: 5px solid #3b0d11;
    border-radius: 25px;
    font-family: 'Roboto Serif';
}

.category-col ul {
    font-size: 1.25rem;
    list-style-type: none;
}

.category-col li{
    border: 5px solid white;
    
}

.category-col li a{
    color: #000; 
}

.category-col li:hover a{
    color: white; 
}

.category-col li:hover {
    border: 5px solid #6a3937;
    border-radius: 25px;
    background-color: #748386;
}

.nav-li {
    color:#3b0d11
}

/******* Whats Hot Carousel *******/
.whats-hot {
    border: 5px solid #3b0d11;
    border-radius: 25px;
}

/* Carousel control Code taken from https://stackoverflow.com/questions/49391266/change-bootstrap-4-carousel-control-colors */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23748386' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    position: relative;
    bottom: 65px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23748386' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    position: relative;
    bottom: 65px;
}

/******* Scroll Arrow *******/
#arrow {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .75s linear;
}

/******* Add Product Form *******/
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/******* Toasts and modals *******/
.message-container {
    position: fixed;
    min-width: 300px;
    top: 125px;
    right: 20px;
    z-index: 99999999999;

    /* animation for sliding in  */
    animation-name: slide;
    animation-duration: 1.5s;
}

/* Animation for slide */
@keyframes slide {
    0% {
        transform: translateX(200px)
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

.modal-header {
    background-color: #748386;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-content {
    border: 5px solid black;
}

.toast-header {
    background-color: #748386;
    color: white;
}

.toast-top, .modal-content {
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
}

.triangle-success {
    width: 0;
    height: 0;
    border-bottom: 20px solid #28a745;
    border-left: 20px solid transparent;
}

.triangle-info {
    width: 0;
    height: 0;
    border-bottom: 20px solid #17a2b8;
    border-left: 20px solid transparent;
}

.triangle-error {
    width: 0;
    height: 0;
    border-bottom: 20px solid #dc3545;
    border-left: 20px solid transparent;
}

.triangle-warning {
    width: 0;
    height: 0;
    border-bottom: 20px solid #ffc107;
    border-left: 20px solid transparent;
}

.qty-btns {
    width: 70%;
}

/******* Media Queries *******/
@media (min-width: 1200px) {
    .hero-img {
    background: url('/media/bottles2.jpg') ;
    background-size: cover;
    height: 90vh;
    font-family: 'Roboto Serif';
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 125px;
    }

    .qty-btns {
        width: 95%;
    }
}

@media (max-width: 400px) {
    .message-container {
        min-width: 0;
        right: 10px;
    }
}
