<div class="collapse navbar-collapse text-center" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold color-burgundy mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold color-burgundy mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">Beers</a>
                <a href="" class="dropdown-item">Ciders</a>
                <a href="" class="dropdown-item">Wine</a>
                <a href="" class="dropdown-item">Spirits</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold color-burgundy mr-5" href="#">
                About Us
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold color-burgundy mr-5" href="#">
                Contact
            </a>
        </li>
    </ul>
</div>