{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}- Set Password{% endblock %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block header %}
<div class="container">
  <div class="row">
      <div class="col mt-3">
        <h2 class="text-center">{% trans "Set Password" %}</h2>
        <hr>
      </div>
  </div>
</div>
{% endblock %}

{% block inner_content %}
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'home' %}" class="btn btn-outline-dark rounded-pill">Cancel</a>
        <input class="btn link-btn rounded-pill" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
