{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block header %}
<div class="container">
  <div class="row">
      <div class="col mt-3">
        <h2 class="text-center">{% trans "Change Password" %}</h2>
        <hr>
      </div>
  </div>
</div>
{% endblock %}

{% block inner_content %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'home' %}" class="btn btn-outline-dark rounded-pill">Cancel</a>
        <button class="btn link-btn rounded-pill" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
