{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-flex">
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h2 class="text-center">Contact Us</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <!-- Contact Details -->
        <div class="col-md-6">
            <p class="font-weight-bold pr-3">If you have any questions, suggestions or complaints, please feel free to
                contact
                us:</p>
            <div class="row">
                <div class="col-4">
                    <p>Write to us at:</p>
                </div>
                <div class="col-8">
                    <p class="mb-0">Dry Drops Lane, Drydrops</p>
                    <p class="mb-0">Dryville</p>
                    <p>LN1 1DD</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Call us on:</p>
                </div>
                <div class="col-8">
                    <a href="tel:+44-207-123-4567">+44 207 123 4567</a>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Email us at:</p>
                </div>
                <div class="col-8">
                    <a href = "mailto:drydrops@gmail.com">drydrops@gmail.com</a>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p class="pt-3">Social Media:</p>
                </div>
                <div class="col-8">
                    <p>
                        <a href="https://www.facebook.com/" class="social-icon" target="_blank" rel="noopener">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a href="https://www.instagram.com/" class="social-icon" target="_blank" rel="noopener">
                            <i class="fab fa-instagram-square"></i>
                        </a>
                        <a href="https://www.twitter.com/" class="social-icon" target="_blank" rel="noopener">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- Send a message form  -->
        <div class="col-md-6 pl-3 my-4 mt-md-0">
            <p class="font-weight-bold">Send Us a Message:</p>
            <form action="{% url 'contact' %}" method="POST" class="form" name="message_form">
                {% csrf_token %}
                <input type="text" class="w-100 rounded-pill form-control" placeholder="Name *" name="name" value="{{ request.user.username }}" required>
                <input type="email" class="w-100 mt-4 rounded-pill form-control" placeholder="Email Address *" name="email" value="{{ request.user.email }}" required>
                <input type="text" class="w-100 mt-4 rounded-pill form-control" placeholder="Subject *" name="subject" required>
                <textarea class="w-100 mt-4 rounded form-control mb-2" placeholder="Your Message *" rows="10" name="message" required></textarea>
                <p class="float-left">* Required Fields</p>
                <button type="submit" class="btn link-btn rounded-pill float-right">Send Message</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}