{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h2 class="text-center">Product Management</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row mx-4 mb-4">
    <div class="col-12">
        <h4>Add a Product:</h4>
    </div>
    <div class="col-lg-6">
        <form method="POST" action="{% url 'add_product' %}" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-right">
                <a class="btn btn-outline-dark rounded-pill" href="{% url 'products' %}">Cancel</a>
                <button class="btn link-btn rounded-pill" type="submit">Add Product</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}