{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-center">Products</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-2 d-none d-lg-block">
            <div class="row">
                <div class="col-4">
                    <h4 class="text-center">Categories</h4>
                    <a href="" class="dropdown-item">All Products</a>
                    {% for category in categories %}
                    <a href="" class="dropdown-item">{{ category.friendly_name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="row pt-3">
                <div class="col whats-hot">
                    <h4 class="text-center" >Whats Hot!</h4>
                    {% for product in products %}
                        {% if product.featured %}
                            <div class="card mb-2" style="width: 11rem;">
                                {% include 'includes/product-card.html' %}
                            </div>
                        
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                {% for product in products %}
                <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-2">
                    <div class="card" style="width: 18rem;">
                        {% include 'includes/product-card.html' %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>


</div>
</div>
{% endblock %}