{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row mt-4">
        <div class="col-12 col-md-4 col-lg-4">
            {% if user.is_superuser and product.featured %}
                <div class="ribbon ribbon-top-left"><span>Featured</span></div>
            {% endif %}
            <div class="image-container mb-3 ">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank"><img src="{{ product.image.url }}"
                        alt="{{ product.name }}" style="width: 100%;"></a>
                {% else %}
                <img src="/media/noimage.png" alt="{{ product.name }}">
                {% endif %}
            </div>
            {% if user.is_superuser %}
                <div class="d-block text-center mb-sm-4">
                    <form class="d-inline" action="{% url 'feature_product' product.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <button type="submit" class="text-white bg-info btn-sm small border rounded-pill">{% if product.featured %}Unfeature{% else %}Feature{% endif %}</button>
                    </form>
                    <a href="{% url 'edit_product' product.id %}" class="text-white bg-success btn-sm small border rounded-pill">Edit</a>
                    
                    <!-- Button triggering deletion warning modal -->
                    <button type="button" class="text-white bg-danger btn-sm border rounded-pill" data-toggle="modal" data-target="#modal-{{ product.id }}">
                        Delete
                    </button>

                    <!-- Deletion warning Modal -->
                    <div class="modal fade" id="modal-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="exampleModalLabel">Warning!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete {{ product.name }}? This act is irreversible.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark rounded-pill" data-dismiss="modal">Cancel</button>
                                    <a href="{% url 'delete_product' product.id %}" class="btn text-white bg-danger rounded-pill">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            {% endif %}
        </div>
        <div class="col-12 col-md-8 col-lg-8">
            <div class="mb-1">
                <p class="mb-0"><strong>{{ product.name }}</strong></p>
                <!-- Heart button to add product to favourites -->
                <p class="d-inline">Add to Favourites: </p>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'favourite_product' product.id %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" value="{{ product.id }}" class="btn-like">
                        <i class="fas fa-heart"></i>
                    </button>
                    {% else %}
                    <button type="submit" value="{{ product.id }}" class="btn-like">
                        <i class="far fa-heart"></i>
                    </button>
                    {% endif %}
                </form>
                {% else %}
                <!-- Button to trigger account required modal -->
                <button type="button" class="btn btn-like" data-toggle="modal" data-target="#account-required-modal">
                    <i class="far fa-heart"></i>
                </button>

                <!-- Account required Modal -->
                <div class="modal fade" id="account-required-modal" tabindex="-1" role="dialog"
                    aria-labelledby="account-required-modal-Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="account-required-modal-Label">Account Required</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Please create an account or sign in to use this feature.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark rounded-pill" data-dismiss="modal">Close</button>
                                <a href="{% url 'account_signup' %}"><button type="button" class="btn link-btn rounded-pill">Register</button></a>
                                <a href="{% url 'account_login' %}"><button type="button" class="btn link-btn rounded-pill">Sign In</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="mb-1">
                {% if rating > 4.5 %}
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                {% elif rating > 4 %}
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star-half"></i>
                {% elif rating > 3.5 %}
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                {% elif rating > 3 %}
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star-half"></i>
                {% elif rating > 2.5 %}
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                {% elif rating > 2 %}
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star-half"></i>
                {% elif rating > 1.5 %}
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                {% elif rating > 1 %}
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star-half"></i>
                {% elif rating > 0.5 %}
                <i class="fa fa-solid fa-star"></i>
                {% else %}
                <p>No Rating</p>
                {% endif %}
                <p class="ml-3 small d-inline">({{ review_count }})</p>
            </div>
            <p class="lead"><strong>£{{ product.price }}</strong></p>
            <p class="text-muted">{{ product.sku }}</p>
            <p><a href="{% url 'products' %}?category={{ product.category.name }}"><i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}</a></p>
            <p class="d-none d-md-block">Product Description:</p>
            <p>{{ product.description }}</p>
            <form class="form pb-3" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <p>Quantity:</p>
                <div class="qty-btns">
                    <button class="btn-dark rounded minus-qty" id="minus-qty-{{ product.id }}"
                        data-item_id="{{ product.id }}">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input class="w-25 d-inline form-control" type="number" name="quantity" value="1" min="1" max="99"
                        data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                    <button class="btn-light rounded plus-qty" id="plus-qty-{{ product.id }}"
                        data-item_id="{{ product.id }}">
                        <i class="fas fa-plus"></i>
                    </button>
                    <input type="submit" class="btn btn-light border rounded ml-2 w-25" value="Add to Bag">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
            <a href="{% url 'products' %}" class="small">
                <i class="fas fa-chevron-left"></i>
                Continue Shopping
            </a>
        </div>

    </div>
</div>

<div class="row mt-5 px-4">
    <div class="col-lg-6 ">
        {% if reviews %}
        <h4>{{ review_count }} Reviews for {{ product.name }}</h4>
        <hr>
        <div class="container">
            {% for review in reviews %}
                <div class="row">
                    <div class="col review-stars">
                        {% if review.rating == 5 %}
                            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                                class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i>
                            {% elif review.rating == 4 %}
                            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                                class="fa fa-solid fa-star"></i>
                            {% elif review.rating == 3 %}
                            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i>
                            {% elif review.rating == 2 %}
                            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i>
                            {% elif review.rating == 1 %}
                            <i class="fa fa-solid fa-star"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        {{ review.body }}
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col">
                       <p class="d-inline font-italic small text-muted">by {{ review.user }} on {{review.created_on }}</p>
                       <p class="d-inline small text-muted float-right">
                           {% if user.is_authenticated and user.id == review.user.user.id %}
                           <a href="{% url 'edit_review' review.id %}">edit</a> | 
                            <!-- Button triggering deletion warning modal -->
                            <button class="btn btn-sm p-0 review-delete-btn" data-toggle="modal" data-target="#modal-{{ review.id }}">Delete</button>
                            <!-- Deletion warning Modal -->
                            <div class="modal fade" id="modal-{{ review.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-danger" id="exampleModalLabel">Warning!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete your review? This act is irreversible.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-dark rounded-pill" data-dismiss="modal">Cancel</button>
                                            <a href="{% url 'delete_review' review.id %}" class="btn text-white bg-danger rounded-pill">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           {% endif %}
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        {% else %}
        <h4>This Product has no reviews</h4>
        <hr>
        {% endif %}
    </div>

    <!-- Add a review Section -->
    <div class="col-lg-6 ">
        <h4>Add Review</h4>
        <hr>
        {% if user.is_authenticated %}
            {% if reviewed %}
             <p>You have already reviewed this product.</p>
            {% else %}
                <form action="{% url 'product_detail' product.id %}" method="POST">
                    {% csrf_token %}
                    {% for field in form  %}
                        {% if field.name == "rating" %}
                            {{ field.label }} *
                            <br>
                            {% for radio in field %}
                                <label for="{{ radio.id_for_label }}">
                                    <i class="far fa-star star"></i>
                                </label>
                                <div class="radio-tag d-inline">{{ radio.tag }}</div>
                            {% endfor %}
                            <br>
                        {% else %}
                            {{ field.errors }}
                            {{ field.label }} *
                            <br>
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn link-btn rounded-pill d-block mt-2">Add Review</button>
                </form>
            {% endif %}
        {% else %}
        <p>Please <a href="{% url 'account_login' %}">login</a> to leave a review.</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity-script.html' %}
<script>
    // Changes stars from empty to filled on selection
    $('.star').click(function(e) {
        prevStars = $(this).parent().prevAll('label').children()
        nextStars = $(this).parent().nextAll('label').children()
        
        $(this).removeClass('far').addClass('fas').css({'color':'gold'})
        prevStars.removeClass('far').addClass('fas').css({'color':'gold'})
        nextStars.removeClass('fas').addClass('far').css({'color':'black'})
    })
</script>
{% endblock%}