{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row mt-4">
        <div class="col-12 col-md-4 col-lg-6">
            <div class="image-container mb-3 ">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank"><img src="{{ product.image.url }}"
                        alt="{{ product.name }}" style="width: 100%;"></a>
                {% else %}
                <img src="/media/noimage.png" alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-6">
            <p><strong>{{ product.name }}</strong></p>
            {% if product.rating >= 4.5 %}
            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i>
            {% elif product.rating >= 4 %}
            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star-half"></i>
            {% elif product.rating >= 3.5 %}
            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                class="fa fa-solid fa-star"></i>
            {% elif product.rating >= 3 %}
            <i class="fa fa-solid fa-star"></i></i><i class="fa fa-solid fa-star"></i><i
                class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star-half"></i>
            {% elif product.rating >= 2.5 %}
            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i>
            {% elif product.rating >= 2 %}
            </i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                class="fa fa-solid fa-star-half"></i>
            {% elif product.rating >= 1.5 %}
            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i>
            {% elif product.rating >= 1 %}
            <i class="fa fa-solid fa-star"></i>
            {% else %}
            <p>No Rating</p>
            {% endif %}
            <p class="lead"><strong>£{{ product.price }}</strong></p>
            <p class="text-muted">{{ product.sku }}</p>
            <p><a href="#"><i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}</a></p>
            <p class="d-none d-md-block">Product Description:</p>
            <p>{{ product.description }}</p>
            <form class="form pb-3" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <p>Quantity:</p>
                <button class="btn-dark rounded">
                    <i class="fas fa-minus"></i>
                </button>
                <input class="w-25" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                <button class="btn-light rounded">
                    <i class="fas fa-plus"></i>
                </button>
                <input type="submit" class="btn btn-light border rounded ml-2 w-25" value="Add to Bag">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
            <a href="{% url 'products' %}" class="small">
                <i class="fas fa-chevron-left"></i>
                Continue Shopping
            </a>
        </div>

    </div>
</div>

{% endblock %}