{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row mt-4">
        <div class="col-12 col-md-4 col-lg-4">
            {% if user.is_superuser and product.featured %}
                <div class="ribbon ribbon-top-left"><span>Featured</span></div>
            {% endif %}
            <div class="image-container mb-3 ">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank"><img src="{{ product.image.url }}"
                        alt="{{ product.name }}" style="width: 100%;"></a>
                {% else %}
                <img src="/media/noimage.png" alt="{{ product.name }}">
                {% endif %}
            </div>
            {% if user.is_superuser %}
                <div class="d-block text-center mb-sm-4">
                    <form class="d-inline" action="{% url 'feature_product' product.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <button type="submit" class="text-white bg-info btn-sm small border rounded-pill">{% if product.featured %}Unfeature{% else %}Feature{% endif %}</button>
                    </form>
                    <a href="{% url 'edit_product' product.id %}" class="text-white bg-success btn-sm small border rounded-pill">Edit</a>
                    
                    <!-- Button triggering deletion warning modal -->
                    <button type="button" class="text-white bg-danger btn-sm border rounded-pill" data-toggle="modal" data-target="#modal-{{ product.id }}">
                        Delete
                    </button>

                    <!-- Deletion warning Modal -->
                    <div class="modal fade" id="modal-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="exampleModalLabel">Warning!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete {{ product.name }}? This act is irreversible.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark rounded-pill" data-dismiss="modal">Cancel</button>
                                    <a href="{% url 'delete_product' product.id %}" class="btn text-white bg-danger rounded-pill">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            {% endif %}
        </div>
        <div class="col-12 col-md-8 col-lg-8">
            <div class="mb-1">
                <p class="mb-0"><strong>{{ product.name }}</strong></p>
                <p class="d-inline">Add to Favourites: </p>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'product_detail' product.id %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" value="{{ product.id }}" class="btn-like">
                        <i class="fas fa-heart"></i>
                    </button>
                    {% else %}
                    <button type="submit" value="{{ product.id }}" class="btn-like">
                        <i class="far fa-heart"></i>
                    </button>
                    {% endif %}
                </form>
                {% else %}
                <!-- Button to trigger account required modal -->
                <button type="button" class="btn btn-like" data-toggle="modal" data-target="#account-required-modal">
                    <i class="far fa-heart"></i>
                </button>

                <!-- Account required Modal -->
                <div class="modal fade" id="account-required-modal" tabindex="-1" role="dialog"
                    aria-labelledby="account-required-modal-Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="account-required-modal-Label">Account Required</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Please create an account or sign in to use this feature.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark rounded-pill" data-dismiss="modal">Close</button>
                                <a href="{% url 'account_signup' %}"><button type="button" class="btn link-btn rounded-pill">Register</button></a>
                                <a href="{% url 'account_login' %}"><button type="button" class="btn link-btn rounded-pill">Sign In</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="mb-1">
                {% if product.rating >= 4.5 %}
                <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                    class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                    class="fa fa-solid fa-star"></i>
                {% elif product.rating >= 4 %}
                <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                    class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                    class="fa fa-solid fa-star-half"></i>
                {% elif product.rating >= 3.5 %}
                <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                    class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i>
                {% elif product.rating >= 3 %}
                <i class="fa fa-solid fa-star"></i></i><i class="fa fa-solid fa-star"></i><i
                    class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star-half"></i>
                {% elif product.rating >= 2.5 %}
                <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                    class="fa fa-solid fa-star"></i>
                {% elif product.rating >= 2 %}
                </i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                    class="fa fa-solid fa-star-half"></i>
                {% elif product.rating >= 1.5 %}
                <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i>
                {% elif product.rating >= 1 %}
                <i class="fa fa-solid fa-star"></i>
                {% else %}
                <p>No Rating</p>
                {% endif %}
            </div>
            <p class="lead"><strong>£{{ product.price }}</strong></p>
            <p class="text-muted">{{ product.sku }}</p>
            <p><a href="{% url 'products' %}?category={{ product.category.name }}"><i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}</a></p>
            <p class="d-none d-md-block">Product Description:</p>
            <p>{{ product.description }}</p>
            <form class="form pb-3" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <p>Quantity:</p>
                <div class="qty-btns">
                    <button class="btn-dark rounded minus-qty" id="minus-qty-{{ product.id }}"
                        data-item_id="{{ product.id }}">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input class="w-25 d-inline form-control" type="number" name="quantity" value="1" min="1" max="99"
                        data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                    <button class="btn-light rounded plus-qty" id="plus-qty-{{ product.id }}"
                        data-item_id="{{ product.id }}">
                        <i class="fas fa-plus"></i>
                    </button>
                    <input type="submit" class="btn btn-light border rounded ml-2 w-25" value="Add to Bag">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
            <a href="{% url 'products' %}" class="small">
                <i class="fas fa-chevron-left"></i>
                Continue Shopping
            </a>
        </div>

    </div>
</div>

<div class="row mt-5 px-4">
    <div class="col-6 ">
        {% if product.reviews %}
        <h3>{{ review_count }} Reviews for {{ product.name }}</h3>
        <hr>
        {% else %}
        <h3>There are no Reviews for {{ product.name }}</h3>
        <hr>
        {% endif %}
    </div>
    <div class="col-6 ">
        <h3>Add Review</h3>
        <hr>
        {% if user.is_authenticated %}
            <form action="">
                <p class="mb-2">Rating *</p>
                <div class="mb-3">
                    <input type="radio" class="star d-none" name=rate id="star-1" value="1">
                    <label for="star-1" class="far fa-star"></label>
                    <input type="radio" class="star d-none" name=rate id="star-2" value="2">
                    <label for="star-2" class="far fa-star"></label>
                    <input type="radio" class="star d-none" name=rate id="star-3" value="3">
                    <label for="star-3" class="far fa-star"></label>
                    <input type="radio" class="star d-none" name=rate id="star-4" value="4">
                    <label for="star-4" class="far fa-star"></label>
                    <input type="radio" class="star d-none" name=rate id="star-5" value="5">
                    <label for="star-5" class="far fa-star"></label>
                </div>
                <p>Review *</p>
                <textarea rows=10 class="w-75" placeholder="Add your review..."></textarea>
                <button type="submit" class="btn link-btn rounded-pill d-block mt-2">Add Review</button>
            </form>
        {% else %}
        <p>Please <a href="{% url 'account_login' %}">login</a> to leave a review.</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity-script.html' %}
<script>
    // Changes stars from empty to filled on selection
    $('.star').next().click(function(e) {
        prevLabels = $(this).prevAll('label')
        nextLabels = $(this).nextAll('label')

        $(this).removeClass('far').addClass('fas').css({'color':'gold'})
        prevLabels.removeClass('far').addClass('fas').css({'color':'gold'})
        nextLabels.removeClass('fas').addClass('far').css({'color':'black'})
    })
</script>
{% endblock%}