{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-flex">
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h2 class="text-center">Products</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-2 ml-5 d-none d-lg-block">
            <div class="row">
                <div class="col category-col py-2">
                    <h3 class="mb-0 py-2">Categories</h3>
                    <hr class="my-0">
                    <ul class="pl-0">
                        <li><a href="" class="nav-li nav-link">All Products</a></li>
                        {% for category in categories %}
                        <li><a href="" class="nav-li nav-link">{{ category.friendly_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col pt-2 px-auto whats-hot">
                    <h4 class="text-center text-white">Whats Hot!</h4>
                    {% for product in products %}
                    {% if product.featured %}
                    <div class="card mb-2 mx-auto" style="width: 100%;">
                        {% include 'includes/product-card.html' %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row px-4">
                {% for product in products %}
                <div class="col-lg-3 col-md-6 d-flex justify-content-center py-1 px-2">
                    <div class="card border-white" style="width: 100%;">
                        {% include 'includes/product-card.html' %}
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row px-4">
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>


</div>
</div>
{% endblock %}